body {
    font-family: 'Days One', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222222;
    color: white;
}

.jumbotron {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    width: 80vw;
    height: fit-content;
    margin-top: 8vh;

}

.textContainer {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align text to the left */
}

.myNameIs{
    font-size: 2.5rem;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}

.bigText {
    font-size: 90px;
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.5);
    height: fit-content;
}

.about .bigText {
    margin-top: 20vh;
    font-size: 70px;
}

#navbar {
    display: grid; /* Use CSS Grid */
    grid-template-columns: repeat(4, auto); /* Create 4 columns, each wide enough for its content */
    gap: 6vw; /* Space between the items */
    background-color: #222222; /* Background color */
    padding: 12px 30px; /* Padding for some space around the items */
    position: sticky; /* Keep navbar at the top when scrolling */
    top: 4vh; /* Position it at the top of the viewport */
    z-index: 1; /* Ensure it stays above other content */
    width: fit-content;
    margin: 8vh 55vw;
    border-radius: 32px;
    align-items: center;
}

#navbar li {
    list-style-type: none; /* Remove bullets */
    font-size: 18px; /* Font size */
    text-decoration: none; /* Remove underline */
    color: rgba(255, 255, 255, 0.25); /* Color */
    transition: color 0.23s ease-in; /* Transition for hover effect */
}

#navbar ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

#navbar li:hover {
    transition: color 0.23s ease-in, text-decoration 0.23s;
    color: rgba(255, 255, 255);
    text-decoration: underline;
    text-decoration-color: rgba(29, 133, 255, 1);
    text-underline-offset: 5px;
    text-decoration-thickness: 4px;
    cursor: pointer;
}

#navbar li.currentPage {
    color: rgba(255, 255, 255);
    text-decoration: underline;
    text-decoration-color: rgba(29, 133, 255, 1);
    text-underline-offset: 5px;
    text-decoration-thickness: 4px;
}

.introduction {
    justify-content: flex-end;
    font-size: 12px;
    margin-left: 26vw;
    text-align: justify;
    line-height: 1.6;
}

.mediaButtons {
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: space-between;
    margin-top: 2vh;
    gap: 2vw;
}

#inIcon{
    background-image: url("../img/logo.png");
    background-size: contain;
}

#ghIcon {
    background-image: url("../img/github.png");
    background-size: 65%;
}

#email{
    background-image: url("../img/gmail.png");
    background-size: 65%;
}

.socialIcons{
    background-color: #1D85FF;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
}

#email:hover, #ghIcon:hover, #inIcon:hover{
    transition: ease-in, 175ms;
    box-sizing: border-box;
    border: 2px solid white;
}

.home, .about, .projects, .contact {
    display: flex;
    flex-direction: column;
    margin: 0 10vw;
    height: 100vh; /* Full viewport height */

    box-sizing: border-box;
}

#cards {
    margin-top: 10vh; /* Margin above the cards section */
    display: flex; /* Use flexbox to arrange items in a row */
    overflow-x: auto; /* Enable horizontal scrolling */
    padding: 10px; /* Padding around the cards container */
    gap: 20px; /* Space between cards */
    max-width: 100%; /* Ensure it takes full width of the container */
}

.card {
    display: flex;
    background-color: #2c2c2c;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 10px;
    height: 400px;
    color: black;
    min-width: 30%; /* Ensures cards have a minimum width */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.75) /* Optional: Add shadow for depth */

}

@media (min-width: 1900px) {
    .bigText {
        font-size: 100px; /* Increase font size for desktop */
    }

    .cardHeader {
        font-size: 40px; /* Slightly larger font size for desktop */
    }

    /* Adjust other text sizes as needed */
    .introduction, .cardText {
        font-size: 14px; /* Slightly larger for readability on desktops */
    }

    .socialIcons {
        width: 55px;
        height: 55px;
    }





}

.cardHeader{
    font-size: 26px;
    font-weight: bold;
    color: white;
    padding: 10px; /* Removes any unwanted padding */
    margin: 10px 0 0 15px;

    border-radius: 9px 9px 0 0;
}

.test{
    display: flex;
    justify-content: flex-start;
    padding-left: 25px;
}

.cardLink{
    display:flex;
    justify-content: flex-start;
    color: #006dff;
    font-size: 15px;
    margin: 0 10px 0 0;
    text-underline-offset: 3px;

}



.cardText{
    font-size: 12px;
    line-height: 1.5;
    color: white;
    padding: 10px 20px 0 20px;
}

.cardImage1{
    background-image: url("../img/dog.jpg");
    width: 100%;
    height: 175px;
    border-radius: 9px 9px 0 0;
    background-size: cover; /* Makes the image cover the div */
    background-position: center; /* Centers the image within the div */
    background-repeat: no-repeat; /* Prevents tiling of the image */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.title {
    display: flex;
    justify-content: flex-start;
    font-size: 50px;
    text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    height: fit-content;
    margin-top: 15vh;
}

mark{
    color: #1D85FF;
    background: none;
}