body {
    font-family: 'Days One', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222222;
    color: white;

}

.jumbotron {
    display: flex;
    width: 80vw;
    height: fit-content;
    align-items: center;
    margin-top: 5vh;
    /*padding-left: 157px;*/
    justify-content: space-between;
}

.bigText {
    display: flex;
    justify-content: flex-start;
    font-size: 6vw;
    text-shadow: 0.5vw 0.5vw 0.25vw rgba(0, 0, 0, 0.75);
    height: fit-content;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    padding-right: 5vw;
}

#navbar ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

#navbar li {
    margin: 10vh 4vw 6.5vh 0;
}

#navbar li a {
    font-size: 1vw;
    text-decoration: none;
    text-decoration-color: #222222;
    color: rgba(255, 255, 255, 0.25);
}

#navbar li a:hover {
    transition: color 0.23s ease-in, text-decoration 0.23s;

    color: rgba(255, 255, 255);
    text-decoration: underline;
    text-decoration-color: rgba(29, 133, 255, 1);
    text-underline-offset: 5px;
    text-decoration-thickness: 4px;
}

#navbar li.currentPage a {
    color: rgba(255, 255, 255);
    text-decoration: underline;
    text-decoration-color: rgba(29, 133, 255, 1);
    text-underline-offset: 5px;
    text-decoration-thickness: 4px;
}

.introduction {
    justify-content: flex-end;
    font-size: 0.85vw;
    margin-left: 10vw;
    text-align: justify;
}

.mediaButtons {
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: space-between;
    margin-top: 2vh;
    gap: 2vw;
}

.container{
    display: flex;
    flex-direction: column;
    margin-left: 12.5vw;
    height: 100vh;
}

#inIcon{
    background-image: url("../logo.png");
    width:3vw;
    height: 3vw;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100px;
}

#ghIcon {
    background-image: url("../github.png");
    background-color: #1D85FF;
    border-radius: 100px;
    width:3vw;
    height: 3vw;
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}

#email{
    background-image: url("../gmail.png");
    background-color: #1D85FF;
    border-radius: 100px;
    width:3vw;
    height: 3vw;
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}

#email:hover, #ghIcon:hover, #inIcon:hover{
    transition: ease-in, 175ms;
    box-sizing: border-box;
    border: 2px solid white;

}




