* {
    box-sizing: border-box;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #3c3c3c; /* Background of the scrollbar track */

}

::-webkit-scrollbar-thumb {
    background: #006dff; /* Color of the scrollbar handle */
    border-radius: 8px; /* Rounded edges for the scrollbar handle */
}



::-webkit-scrollbar-thumb:hover {
    background: #004baf; /* Color when hovering over the scrollbar handle */
}

body {
    font-family: 'Days One', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222222;
    color: white;
    max-width: 100%;
    overflow-x: hidden;
}

.jumbotron {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    width: 80vw;
    height: fit-content;
    margin-top: 8vh;
}

.textContainer {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align text to the left */
}

.aboutContainer {
    display: flex;
    align-items: flex-start;
    gap: 16vw;
}

.myNameIs {
    font-size: 2.3rem;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}

.title {
    font-size: 4rem;
}

.homeTitle {
    font-size: 80px;
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.5);
    height: fit-content;
    margin-left: 3vw;
    margin-right: 3vw;
}

.aboutTitle {
    margin-top: 12vh;
    margin-bottom: 3vh;
}

.contactTitle {
    font-size: 60px;
    margin-top: 15vh;
}

.projectsTitle {
    display: flex;
    justify-content: center;
    height: fit-content;
    padding: 0;
    margin-top: 15vh;
    margin-bottom: 5vh;
}


#navbar {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 6vw;
    background-color: #222222;
    padding: 12px 30px;
    position: sticky;
    top: 4vh;
    z-index: 1;
    width: fit-content;
    margin: 8vh 55vw;
    border-radius: 32px;
    align-items: center;
}

#navbar li {
    list-style-type: none;
    font-size: 18px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.25);
    transition: color 0.23s ease-in;
}

#navbar ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

#navbar li:hover {
    transition: color 0.23s ease-in, text-decoration 0.23s;
    color: rgba(255, 255, 255);
    text-decoration: underline;
    text-decoration-color: rgba(29, 133, 255, 1);
    text-underline-offset: 5px;
    text-decoration-thickness: 4px;
    cursor: pointer;
}

#navbar li:active {
    color: black;
}

#navbar li.currentPage {
    color: rgba(255, 255, 255);
    text-decoration: underline;
    text-decoration-color: rgba(29, 133, 255, 1);
    text-underline-offset: 5px;
    text-decoration-thickness: 4px;
}

.introduction {
    justify-content: flex-end;
    font-size: 1rem;
    margin-left: 22vw;
    text-align: justify;
    line-height: 1.6;
}

.introduction p{
    padding: 0;
    margin: 0;
}

.mediaButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 4vw;
    margin-top: 3vh;
    gap: 1rem;
}

#inIcon {
    background-image: url("../img/logo.png");
    background-size: contain;
}

#ghIcon {
    background-image: url("../img/github.png");
    background-size: 65%;
}

#email {
    background-image: url("../img/gmail.png");
    background-size: 65%;
}

.socialIcons {
    background-color: #1D85FF;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;

}

#email:hover, #ghIcon:hover, #inIcon:hover {
    transition: ease-in, 175ms;
    box-sizing: border-box;
    border: 2px solid white;
}

.introHeader {
    font-size: 2rem;
    margin-bottom: 2vh;
}

.home, .about, .projects, .contact {
    display: flex;
    flex-direction: column;
    margin: 0 10vw;
    box-sizing: border-box;
    max-width: 100%;
}

.about {
    max-height: 100vh;
    margin-bottom: 15vh;
}


.fullViewHeight {
    height: 100vh;
}

.fitContent {
    height: fit-content;
}

.aboutImage {
    background-image: url("../img/aboutImage.png");
    background-size: cover;
    background-position: center;
    width: 460px;
    height: 460px;
    margin-top: 20px;
}

.about h1 {
    font-size: 1.3rem;
    margin: 0 0 0 1vw;
}

p {
    margin: 0;
    padding: 0;
}

.about p {
    margin: 0 0 1.5em 0;
}

.aboutText {
    flex: 1;
    line-height: 1.6;
    font-size: 0.9rem;
    color: white;
    margin: 0;
}

#cards {
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 0 7.5vw;
    gap: 50px 0;
}

.card {
    display: flex;
    width: 300px;
    background-color: #2c2c2c;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 10px;
    height: 400px;
    color: black;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.75); /* Optional: Add shadow for depth */
    transition: ease-in 250ms;
}

.card:hover {
    transform: scale(1.075);
    transition: ease-out 500ms;
}

.cardHeader {
    font-size: 26px;
    font-weight: bold;
    color: white;
    padding: 10px;
    margin: 10px 0 0 15px;
    border-radius: 9px 9px 0 0;
}

.linkDiv {
    display: flex;
    justify-content: flex-start;
    padding-left: 25px;
}

.cardLink {
    display: flex;
    justify-content: flex-start;
    color: #006dff;
    font-size: 15px;
    margin: 0 10px 0 0;
    text-underline-offset: 3px;
}

.cardLink:hover {
    color: white;
    transition: ease-in, 225ms;
}

.cardLink:active {
    color: rgb(189, 189, 189);
}

.cardText {
    font-size: 12px;
    line-height: 1.5;
    color: white;
    padding: 10px 20px 0 20px;
}

.cardImage {
    width: 100%;
    height: 175px;
    border-radius: 9px 9px 0 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.imgVijfluik {
    background-image: url("../img/vijfluik.png");
}

.imgGoFit {
    background-image: url("../img/gofit.png");
    background-size: 60%;
    background-color: #006dff;
}

.imgDesign {
    background-image: url("../img/clothingDesign.png");
}

.imgVideomapping {
    background-image: url("../img/videomapgif.gif");
}

.imgRonin {
    background-image: url("../img/RoninGif.gif");
}

.imgSkyJump {
    background-image: url("../img/skyJumpGif.gif");
}

.imgFrogger {
    background-image: url("../img/frogger.gif");
}

.contact p {
    margin-top: 20px;
}

mark {
    color: #1D85FF;
    background: none;
}

.contactInputContainer {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-top: 10vh;

}

.inputColumn {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inputGroup p {
    margin: 0 0 5px 0;
}

.inputField {
    height: 40px;
    width: 300px;
    font-size: 1rem;
    padding: 10px;
}

.messageField {
    width: 400px;
    height: 120px;
}

.sendMessage {
    height: 40px;
    width: 100px;
    margin-top: 20px;
    font-family: 'Days One', sans-serif;
    border: #ffffff 2px solid;
    background: none;
    color: white;
}

.sendMessage:hover {
    transition: linear;
    background-color: #1D85FF;
    color: black;
    border: none;

}

.sendMessage:active {
    background-color: rgba(29, 133, 255, 0.51);
}

.footer {
    display: flex;
    background-color: rgba(0, 0, 0, 0.84);
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 768px) {
    .title {
        font-size: 50px;
    }


    .footer {
        flex-direction: column;
    }

    .introduction {
        margin: 8vh 10vw auto auto;
        line-height: 1.4;

    }


    .aboutContainer {
        flex-direction: column;
        align-items: center;
    }

    .contactInputContainer {
        flex-direction: column;
    }

    .inputField, .messageField {
        width: 100%;
    }

    .aboutText p {
        font-size: 0.7rem;
    }

    .mediaButtons {
        margin-top: 3vh;
        margin-left: 0;
        flex-direction: row;
        justify-content: center;
    }

    .card {
        width: 90%;
        margin: 0 auto;
    }


    #navbar {
        top: 1.5vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 3vh 0 0 0;

        padding: 3vh 0;
        width: 100%;
    }

    #navbar li {
        font-size: 16px;
        margin: 0 10px;
    }

    .title {
        font-size: 50px;
        text-align: center;
    }

    .jumbotron {
        flex-direction: column;
        justify-content: center;
        width: 90vw;
        margin-top: 5vh;
    }

    .aboutContainer {
        flex-direction: column;
        align-items: center;
        gap: 2vh;
        margin-bottom: 10vh;
    }


    .contactInputContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .messageField, .sendMessage, .inputField {
        width: 80vw;

        margin: 1vh auto;
    }


    .card {
        width: 90%;
        margin: 0 auto;
    }

    .aboutImage {
        width: 300px;
        height: 300px;
    }

    .homeTitle {
        margin-top: 5vh;
    }

    .introHeader {
        text-align: left;
    }
}